#                                   _                 _
#                                  | |               | |
#   _____      _____    _   _ _ __ | | ___   __ _  __| | ___ _ __
#  / _ \ \ /\ / / _ \  | | | | '_ \| |/ _ \ / _` |/ _` |/ _ \ '__|
#  |(_) \ V  V / (_)|  | |_| | |_) | | (_) | (_| | (_| |  __/ |
#  \___/ \_/\_/ \___/   \__,_| .__/|_|\___/ \__,_|\__,_|\___|_|
#                            | |
#                            |_|
#
# OWOUPLOADER.SH SCRIPT CONFIGURATION.
# ------------------------------------
#
# In here you can find multiple values to which you can edit
# in order to fit what you need. Please make sure you know what
# you are editing before you change it, all errors can be
# referred to https://github.com/whats-this/owo.sh/wiki.

# -------------------------------------
# owo.whats-th.is
# -------------------------------------

# General

userkey=""
debug=false
compatability=false

# -------------------------------------
# file hosting
# -------------------------------------

#Visit https://whats-th.is/faq.html#how-to-access-files for supported URLs

finished_url="owo.whats-th.is"
shorten_url="thats-a.link"
# ------

# Screenshots

scr_directory=Screenshots
scr_filename="shot_`date '+%Y-%m-%d_%H-%M-%S'`.png"
scr_path=${HOME}/Documents/$scr_directory/
scr_copy=true
keep_scr=true
no_notify=false
cap_cursor=true
# -------------------------------------
# url shortener
# -------------------------------------

# Clipboard

url_copy=true
