#                                   _                 _
#                                  | |               | |
#   _____      _____    _   _ _ __ | | ___   __ _  __| | ___ _ __
#  / _ \ \ /\ / / _ \  | | | | '_ \| |/ _ \ / _` |/ _` |/ _ \ '__|
#  |(_) \ V  V / (_)|  | |_| | |_) | | (_) | (_| | (_| |  __/ |
#  \___/ \_/\_/ \___/   \__,_| .__/|_|\___/ \__,_|\__,_|\___|_|
#                            | |
#                            |_|
#
# OWOUPLOADER.SH SCRIPT CONFIGURATION.
# ------------------------------------
#
# In here you can find multiple values to which you can edit
# in order to fit what you need. Please make sure you know what
# you are editing before you change it, all errors can be
# referred to https://github.com/whats-this/owo.sh/wiki.

# -------------------------------------
# owo.whats-th.is
# -------------------------------------

# General

userkey=""
debug=false
compatability=false

# -------------------------------------
# file hosting
# -------------------------------------

# URLs
# 1. - owo.whats-th.is
# 2. - buttsare.sexy
# 3. - nyanyanya.moe
# 4. - i.am-a.ninja
# 5. - all.foxgirlsare.sexy
# 6. - i.stole-a-me.me
# 7. - can-i-ask-dean-on-a.date
# 8. - deanis.sexy
# 9. - how-about-th.at
#10. - im.not.ovh
#11. - light-theme-hurts.my-ey.es
#12. - my.catgirl.party
#13. - nyanyanya.moe
#14. - this.is-a.dog
#15. - totally-not.a-sketchy.site

# Wildcards
# 1. - *.is-pretty.sexy
# 2. - *.are-pretty.sexy

finished_url="owo.whats-th.is"

# ------

# Screenshots

scr_directory=Screenshots
scr_filename="shot_`date '+%Y-%m-%d_%H-%M-%S'`.png"
scr_path=${HOME}/Documents/$scr_directory/
scr_copy=true
keep_scr=true
# -------------------------------------
# url shortener
# -------------------------------------

# Clipboard

url_copy=true
